@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7a7f9d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #21295c;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #21295c;
}
.menu-chooser {
  background-color: #ffffff99;
  border-radius: 16px;
  height: 268px;
  width: 251px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(4px);
  box-shadow: 0px 24px 24px 8px #0000001f;
}
.menu-chooser:hover {
  background: linear-gradient(151.58deg, #faffe6 16.7%, #abd9ff 103.12%);
  box-shadow: 0px 46px 44px 20px #00000033;
  transform: translateY(-32px);
  color: #1677ff;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.react-daterange-picker__wrapper {
  border: 1px solid #d9d9d9 !important;
  border-radius: 6px;
  padding: 5px;
}
/* .react-date-picker__inputGroup__divider {
  display: none;
} */
